
:root {
  --bs-primary: #FF4057 !important;
  --text: #DCDCDC;
  background-color: #282536;
}

.btn-primary {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
}
.btn-outline-primary {
  border-color: transparent !important;
  font-weight: bolder;
  font-size: 1.1em;
  color: var(--bs-primary) !important;
}
.btn-outline-primary:hover {
  background-color: var(--bs-primary) !important;
  color: var(--text) !important;
}

p, h1, h2, h3, h4, h5 ,h6 {
  color: #DCDCDC !important;
}

body {
  background-color: #282536;
}

@media (max-width: 990px) {
  .navbar-nav {
    background-color: #1b1827;
  }
}